
<h1>Square Root Results</h1>

<div>Number</div>
<div> <%= @number %> </div>

<div>Square Root</div>
<div> <%= @result %> </div>

<div></div>

<div> <a href="/square_root/new">Calculate another square root</a></div>
